.container{
     display: flex;
     flex-direction: row;
height: 79vh;
     align-items: center;
     justify-content: center;
     background-color: #ffffff;
}

.loader {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 120px;
     position: relative;
}
.bar {
     display: flex;
     width: 5px;
     height: 30px;
     background-color: #000000;
     animation: sciFiLoading 1s infinite;
     opacity: 0.2;
}

.bar:nth-child(1) {
     animation-delay: 0.1s;
}

.bar:nth-child(2) {
     animation-delay: 0.2s;
}

.bar:nth-child(3) {
     animation-delay: 0.3s;
}

.bar:nth-child(4) {
     animation-delay: 0.4s;
}

.bar:nth-child(5) {
     animation-delay: 0.5s;
}

@keyframes sciFiLoading {

     0%,
     100% {
          transform: scaleY(1);
          opacity: 0.2;
     }

     50% {
          transform: scaleY(1.5);
          opacity: 1;
     }
}