.modal {
     position: fixed !important;

     background: linear-gradient(to top, #b36b00, #ffa500);

     /* opacity: 0.95; */
     width: 15vw;
     /* height: 100vh; */
     z-index: 999;
     top: 49%;
     left: 50%;
     transform: translate(-50%, -50%);
     box-shadow: 1px 1px 4px rgba(0, 0, 0);
}

.buttons {
     display: flex;
     justify-content: space-around;
     padding: 5rem;


}


.mapSmall {

     width: 50%;
     height: 200px;
     padding-right: 1rem;

}